<div class="flex flex-row gap-4 w-full bg-black text-center p-2">
    <a href="/about" class="bg-pink-300 p-4 text-black rounded-md">About us</a>
    <a href="/contact" class="bg-violet-300 p-4 text-black rounded-md">Contact us</a>
</div>