---
import Themeswitch from "./Themeswitch.astro";
---
<div class="flex flex-row gap-4 w-full text-center p-1.5">
    <a href="/" class="bg-amber-500 p-4 rounded-md">Logo</a>
    <a href="/about" class="bg-pink-300 p-4 rounded-md">About us</a>
    <a href="/contact" class="bg-violet-300 p-4 rounded-md">Contact us</a>
    <a><Themeswitch/></a>
</div>