<div>
	<h1 class="text-3xl mb-3">Hello world!</h1>
	<p>This is a test of using Astro and Tailwind 4.</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iure
		deleniti ex quis molestias incidunt facere sapiente! Repudiandae!
	</p>
</div>
