<script>
	import '../styles/global.css';
	import '../styles/Inter_18pt-Thin.ttf'
</script>
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro project</title>
	</head>
	<body class="mx-auto text-center p-3 bg-black text-white w-screen h-screen">
		<slot />
	</body>
</html>
